*~
# Python
**/__pycache__
*.pyc
*.egg-info

# Ignore vscode files
*.vscode/

# Ignore tox files
*.tox

# build folder
**/dist
*/build/*

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

*.tags
*.swp
**/data/*
